.vs/

bin/
obj/
Debug/
Release/

*.suo
*.user
*.userosscache
*.sln.docstates
*.vsidx
*.v2
*.db

*.cache
*.pdb
*.log
*.tlog

*.exe
*.dll

publish/
*.Publish.xml


*.nupkg
*.nuget.props
*.nuget.targets
project.assets.json
project.nuget.cache


Thumbs.db
*.DS_Store


*.backup.json
