<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SQLiteConn"
			 connectionString="Data Source=Database\\TeleBipDB.db;Version=3;"
			 providerName="System.Data.SQLite" />
	</connectionStrings>

	<appSettings>
		<add key="UltimaPastaBackup" value="" />
		<add key="EmailRecuperacao" value="" />

		<!-- 🔐 Senha do app Gmail criptografada -->
		<add key="SenhaAppGmailCriptografada"
			 value="M+km0PT864aItsXj+d4uws/eXrqnvVj4KoRHqG6rWbo=" />
	</appSettings>
</configuration>
